{% extends 'base.html' %}

{% block title %}Voter Details{% endblock %}

{% block content %}
<h1>Details for {{ voter.first_name }} {{ voter.last_name }}</h1>

<p><strong>Address:</strong> {{ voter.street_number }} {{ voter.street_name }}, {{ voter.zip_code }}</p>
<p><strong>Date of Birth:</strong> {{ voter.date_of_birth }}</p>
<p><strong>Date of Registration:</strong> {{ voter.date_of_registration }}</p>
<p><strong>Party Affiliation:</strong> {{ voter.party_affiliation }}</p>
<p><strong>Voter Score:</strong> {{ voter.voter_score }}</p>
<p><strong>Voted in Elections:</strong></p>
<ul>
    <li>2020 State: {{ voter.v20state }}</li>
    <li>2021 Town: {{ voter.v21town }}</li>
    <li>2021 Primary: {{ voter.v21primary }}</li>
    <li>2022 General: {{ voter.v22general }}</li>
    <li>2023 Town: {{ voter.v23town }}</li>
</ul>

<a href="{{ google_maps_url }}" target="_blank">View on Google Maps</a>
{% endblock %}
