<!DOCTYPE html>
<html>
<head>
    <title>Mini Facebook</title>
    {% load static %}
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{% static 'mini_fb/mini_fb_styles.css' %}">
</head>
<body>
    <header>
        <h1>Mini Facebook</h1>
        <nav>
            <ul>
                <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li>
                <li><a href="{% url 'create_profile' %}">Create New Profile</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Mini Facebook</p>
    </footer>
</body>
</html>
